{
  "presets": ["next/babel"],
  "plugins": [["styled-components", { "ssr": true }], "inline-react-svg" ]
}


// ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
// https://medium.com/javascript-in-plain-english/ssr-with-next-js-styled-components-and-material-ui-b1e88ac11dfa
